<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Panel Admina</title>
</head>
<body>
    <h1>Panel Admina</h1>
    <p>Witaj w panelu admina.</p>
    <a href="/login">
        <button>Powrót do Nawigacji</button>
    </a>
</body>
</html>
