<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Admin 1</title>
</head>
<body>
    <h1>Admin 1</h1>
    <p>Witaj w Admin 1.</p>
    <a href="/">
        <button>Powrót do Nawigacji</button>
    </a>
</body>
</html>
