<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Nawigacja</title>
</head>
<body>
    <h1>Witamy!</h1>
    <p>Twoja lokalizacja restauracji: <%= location %></p>
    <nav>
        <a href="/reservations">Lista Rezerwacji</a>
        <a href="/admin">Panel Admina</a>
    </nav>
    <form action="/logout" method="POST">
        <button type="submit">Wyloguj się</button>
    </form>
</body>
</html>
