<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Lista Rezerwacji</title>
</head>
<body>
    <h1>Lista Rezerwacji</h1>
    <p>Witaj w liście rezerwacji.</p>
    <a href="/">
        <button>Powrót do Nawigacji</button>
    </a>
</body>
</html>
